.App {
  text-align: center;
}
.maindiv{
  min-height: 10vh;
  height: 100%;
  width: 100%;
  background-color: #F6FFDE;
  padding: 3rem;
}
.subdiv{
  height: 100%;
  min-height: 90vh;
  text-align: center;
  padding: 1rem;
font-size: 2rem;
border-radius: 2rem;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  overflow: hidden;
  background-color: #AAC8A7;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:500px){
  .maindiv{
    min-height: 10vh;
    height: 100%;
    width: 100%;
    background-color: #F6FFDE;
    padding: 1rem;
  }
  .subdiv{
    height: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
  font-size: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    background-color: #AAC8A7;
  }
}